{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <nav class="col-lg-3">
            <div id="jstree">
                <ul>
                    {% include 'Folder/tree.html.twig' with {folder: root, root: true} %}
                </ul>
            </div>
        </nav>
        <main class="col-lg-9">
            <div class="content" style="display: none;"></div>
        </main>
    </div>
    <div id="modal-folder" class="modal fade"></div>
    <div id="modal-key" class="modal fade"></div>
    <div id="modal-key-changes" class="modal fade"></div>
{% endblock %}