{% extends 'layout.html.twig' %}

{% block content %}
    <form method="post" class="form col-lg-6 col-lg-offset-3 installer">
        <h2>{{ 'Install Clavis'|l }}</h2>
        {{ form|raw|ll }}
        <div class="col-lg-offset-2">
            <button type="submit" class="btn btn-primary"><span class="fa fa-gears"></span> {{ 'Install'|l }}</button>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('asset/password-widget.js') }}"></script>
{% endblock %}
