<!DOCTYPE html>
<html lang="{{ app.locale|slice(0,2) }}">
<head>
    <meta charset="utf-8">
    <title>Clavis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="{{ asset('gfx/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('lib/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('lib/font-awesome/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('lib/select2/select2.min.css') }}">
    {% if app.user %}
        <link rel="stylesheet" href="{{ asset('lib/jstree/themes/default/style.min.css') }}"/>
    {% endif %}
    <link rel="stylesheet" href="{{ asset('asset/main.css') }}"/>
    <!--[if lt IE 9]> <script src="{{ asset('lib/html5shiv.js') }}"></script> <![endif]-->
</head>
<body>
<div class="preloader main-preloader" style="display: none;">
    <span class="fa fa-spinner fa-pulse"></span>
</div>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="nav-container">
        <div class="navbar-header">
            <a href="{{ route('home') }}" class="navbar-brand bold"><i class="fa fa-key"></i> Clavis</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                    {% if app.user.isAdmin %}
                        <li><a href="{{ route('users') }}"><i class="fa fa-users"></i> {{ 'Users'|l }}</a></li>
                    {% endif %}
                    <li class="dropdown avatar">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="user">
                            <img src="{{ app.user.getAvatar() }}" class="avatar"/>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="user">
                            <li><a href="{{ route('account') }}" class="bold"><i class="fa fa-user fa-fw"></i> {{ 'My account'|l }}</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ route('logout') }}"><i class="fa fa-user-times fa-fw"></i> {{ 'Logout'|l }}</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>


<div class="container">
    {% for flash in app.flashBag %}
        <div class="alert alert-{{ flash.type }}">
            <p>{{ flash.message }}</p>
        </div>
    {% endfor %}

    {% block content %}{% endblock %}
</div>


<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ asset('lib/jquery-2.1.3.min.js') }}"><\/script>')</script>
<script src="{{ asset('lib/jquery.plugins.js') }}"></script>
<script src="{{ asset('lib/bootstrap.min.js') }}"></script>
<script src="{{ asset('lib/bootstrap.modal.js') }}"></script>
<script src="{{ asset('lib/jstree/jstree.min.js') }}"></script>
<script src="{{ asset('lib/plupload/plupload.full.min.js') }}"></script>
<script src="{{ asset('lib/select2/select2.min.js') }}"></script>
<script src="{{ route('micrusjs') }}"></script>
{% block javascripts %}{% endblock %}
<script>
    window.icons = {
    {% for type, class in clavisIcons %}
    {{ type }}: {icon: "{{ class }}"}{{ loop.last ? '' : ',' }}
    {% endfor %}
    };
    window.isAdmin = {{ app.user and app.user.isAdmin() ? 'true' : 'false' }};
</script>
<script src="{{ asset('asset/main.js') }}"></script>
</body>
</html>