{% extends 'layout.html.twig' %}

{% block content %}
    <div class="text-center">
        <p><img src="{{ asset('gfx/logo.png') }}"/></p>
        <h1>
            {{ 'Error'|l }}: {{ errorCode }}
            <br/>
            <small>{{ exception.message }}</small>
        </h1>
    </div>
{% endblock %}