<ul class="breadcrumb">
    {% if key.getParent() and key.getParent().id != base %}
        {% include 'Folder/breadcrumb-parent.html.twig' with {element: key.getParent(), base: base } %}
    {% elseif isroot and not key.getParent() %}
        <li>
            <img src="{{ app.user.getAvatar(16) }}" alt="Personal folder"/>
            <a href="#" data-folder-id="personal" class="folder-link">{{ app.user.username }}</a>
        </li>
    {% endif %}
    <li class="bold"><span class="{{ key.getIconClass() }} fa-fw"></span>
        <a href="#" class="key-link" data-key-id="{{ key.id }}" {% if key.folder is defined and key.folder %}data-action="key{{ key.folder.canUserWrite(app.user) ? 'Edit' : 'Show' }}"{% endif %}>{{ key.name }}</a>
    </li>
</ul>