<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            {% filter cleanLinks %}
            {% include 'Key/breadcrumb.html.twig' with {key: key, base: root, isroot: true} %}
            {% endfilter %}
        </div>
        <div class="modal-body">
            <table class="table">
                <tr>
                    <th>{{ 'User'|l }}</th>
                    <th>{{ 'Date'|l }}</th>
                    <th>{{ 'Changes'|l }}</th>
                </tr>
                {% for change in key.getChanges %}
                    <tr>
                        <td>{{ users[change.user] is defined ? users[change.user] : '' }}</td>
                        <td>{{ change.date }}</td>
                        <td>
                            {% for k, v in change.getChanges %}
                                <strong class="change-label">{{ k }}:</strong>
                                {% if k == 'password'  %}
                                    <span data-toggle="tooltip" title="{{ v|decrypt|e }}">*********</span>
                                {% else %}
                                    {{ v }}
                                {% endif %}
                                <br/>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-remove"></span> Close</button>
        </div>
    </div>
</div>