<form class="modal-dialog" method="post" data-key-id="{{ key.id }}" action="{{ key.id ? route('keyEdit', {id: key.id}) : route('keyAdd', { id: key.getParent() ? key.getParent().id : '' }) }}">
    <div class="modal-content">
        <div class="modal-header">
            {% filter cleanLinks %}
                {% include 'Key/breadcrumb.html.twig' with {key: key, base: root, isroot: true} %}
            {% endfilter %}
        </div>
        <div class="modal-body">
            <p>{{ form|raw|ll }}</p>
        </div>
        <div class="modal-footer">
            {% if key.id %}
                <button type="button" class="btn btn-default btn-xs key-remove" data-key-id="{{ key.id }}"><span class="fa fa-trash"></span> Remove</button>
                {% if app.user.isAdmin %}
                    <button type="button" class="btn btn-default key-changes-link" data-dismiss="modal" data-key-id="{{ key.id }}">
                        <span class="fa fa-clock-o"></span> History
                    </button>
                {% endif %}
            {% endif %}
            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-remove"></span> Close</button>
            <button type="submit" class="btn btn-primary"><span class="fa fa-save"></span> Save changes</button>
        </div>
    </div>
</form>
<script src="{{ asset('asset/password-widget.js') }}"></script>
<script src="{{ asset('asset/attachment-widget.js') }}"></script>