<table class="table">
    <tr>
        <th class="breadcrumb">{{ 'Key'|l }}</th>
        <th>{{ 'Username'|l }}</th>
        <th>{{ 'URL'|l }}</th>
        <th>{{ 'Notes'|l }}</th>
    </tr>
    {% for key in keys %}
        <tr>
            <td class="breadcrumb">
                {% include 'Key/breadcrumb.html.twig' with {key: key, base: base } %}
            </td>
            <td>{{ key.username|urlify }}</td>
            <td>{{ key.url|urlify }}</td>
            <td>{{ key.notes }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4" class="text-center">
                <p><strong>No keys found in this folder</strong></p>
            </td>
        </tr>
    {% endfor %}
</table>