<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            {% filter cleanLinks %}
                {% include 'Key/breadcrumb.html.twig' with {key: key, base: root, isroot: true} %}
            {% endfilter %}
        </div>
        <div class="modal-body">
            <div class="row keyrow">
                <div class="col-lg-2 bold">{{ 'Username'|l }}</div>
                <div class="col-lg-10">{{ key.username|urlify }}</div>
            </div>
            <div class="row keyrow">
                <div class="col-lg-2 bold">{{ 'Password'|l }}</div>
                <div class="col-lg-10"><span data-toggle="tooltip" title="{{ password }}">***********</span></div>
            </div>
            <div class="row keyrow">
                <div class="col-lg-2 bold">{{ 'URL'|l }}</div>
                <div class="col-lg-10">{{ key.url|urlify }}</div>
            </div>
            <div class="row keyrow">
                <div class="col-lg-2 bold">{{ 'Database'|l }}</div>
                <div class="col-lg-10">{{ key.database }}</div>
            </div>
            <div class="row keyrow">
                <div class="col-lg-2 bold">{{ 'Notes'|l }}</div>
                <div class="col-lg-10">{{ key.notes|nl2br }}</div>
            </div>
            <div class="row keyrow">
                <div class="col-lg-2 bold">{{ 'Expires'|l }}</div>
                <div class="col-lg-10">{{ key.expires }}</div>
            </div>
            <div class="row keyrow">
                <div class="col-lg-2 bold">{{ 'Attachment'|l }}</div>
                <div class="col-lg-10">
                    {% if key.attachment %}
                        <a href="{{ route('keyDownload', {id: key.id}) }}"><span class="fa fa-download"></span> {{ key.attachment }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-remove"></span> Close</button>
        </div>
    </div>
</div>