{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h3>{{ 'My account'|l }}</h3>
            <div class="row">
                <div class="col-lg-4">
                    <h4>{{ 'Email'|l }}</h4>
                    <strong><span class="fa fa-envelope"></span> {{ app.user.username }}</strong>
                </div>
                <div class="col-lg-4">
                    <h4>{{ 'Avatar'|l }}</h4>
                    <img src="{{ app.user.getAvatar(50) }}" alt="avatar" class="account-avatar"/>
                    <a href="http://gravatar.com" target="_blank">
                        <img src="http://gravatar.com/favicon.ico" height="16"> {{ 'Change avatar'|l }}
                    </a>
                </div>
                <div class="col-lg-4">
                    <form method="post" action="{{ route('account') }}">
                        {{ form|raw|ll }}
                        <button type="submit" class="btn btn-primary btn-sm"><span class="fa fa-save"></span> {{ 'Change password'|l }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('asset/password-widget.js') }}"></script>
{% endblock %}