{% extends 'layout.html.twig' %}

{% block content %}
    <form method="post" class="form col-lg-6 col-lg-offset-3">
        <a href="{{ route('users') }}" class="btn btn-success btn-xs pull-right"><span class="fa fa-users"></span> Back to user list</a>
        <h2>{{ header|l }}</h2>
        {{ form|raw|ll }}
        <div class="col-lg-offset-2">
            <button type="submit" class="btn btn-primary"><span class="fa fa-save"></span> {{ 'Save'|l }}</button>
        </div>
    </form>
{% endblock %}
