{% extends 'layout.html.twig' %}

{% block content %}
    <div class="col-lg-8 col-lg-offset-2">
        <p class="text-right">
            <a href="{{ route('userAdd') }}" class="btn btn-success btn-xs"><span class="fa fa-plus"></span> New user</a>
        </p>
        <table class="table">
            <tr>
                <th>{{ 'Email'|l }}</th>
                <th>{{ 'Action'|l }}</th>
                <th class="breadcrumbs">{{ 'Permissions'|l }}</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>
                        <img src="{{ user.getAvatar(16) }}" alt="Avatar">
                        {{ user.username|urlify }}
                    </td>
                    <td>
                        <a href="{{ route('userEdit', {id: user.id}) }}" class="btn btn-primary btn-xs"><span class="fa fa-pencil"></span> Edit</a>
                        {% if user.id != app.user.id %}
                            <a href="{{ route('userRemove', {id: user.id}) }}" class="btn btn-danger btn-xs"><span class="fa fa-trash"></span> Remove</a>
                        {% endif %}
                    </td>
                    <td class="breadcrumb user-folders">
                        {% if user.role == 'ROLE_ADMIN' %}
                            {{ 'Administrator'|l }}
                        {% else %}
                            {% filter cleanLinks %}
                                {% for permission in user.getPermissions() %}
                                    <ul class="breadcrumb">
                                        <span class="fa fa-{{ permission.getIcon }} fa-fww"></span>
                                        {% include 'Folder/breadcrumb-parent.html.twig' with {element: permission.getFolder().getParent() } %}
                                        <li class="bold"><span class="{{ permission.folder.getIconClass() }}"></span> {{ permission.folder.name }}</li>
                                    </ul>
                                {% endfor %}
                            {% endfilter %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}