{% extends 'layout.html.twig' %}

{% block content %}
    <form method="post" class="form col-lg-6 col-lg-offset-3">
        <h2>{{ 'Login'|l }}</h2>
        {{ form|raw|ll }}
        <div class="col-lg-offset-2">
            <a href="{{ route('remind') }}" class="pull-right">{{ 'Remind password'|l }}</a>
            <button type="submit" class="btn btn-primary">{{ 'Login'|l }}</button>
        </div>
    </form>
{% endblock %}
