{% extends 'layout.html.twig' %}

{% block content %}
    <form method="post" class="form col-lg-6 col-lg-offset-3">
        <h2>{{ 'Remind password'|l }}</h2>
        {{ form|raw|ll }}
        <div class="col-lg-offset-2">
            <button type="submit" class="btn btn-primary"><span class="fa fa-send"></span> {{ 'Send email'|l }}</button>
        </div>
    </form>
{% endblock %}
