{% extends 'layout.html.twig' %}

{% block content %}
    <form method="post" class="form col-lg-6 col-lg-offset-3">
        <a href="{{ route('users') }}" class="btn btn-success btn-xs pull-right"><span class="fa fa-users"></span> Back to user list</a>
        <h2>{{ 'Remove user'|l }}</h2>
        {{ 'Are you sure you want to remove user account'|l }}
        <strong>{{ user.username }}</strong>?

        <p>
            <button type="submit" class="btn btn-danger"><span class="fa fa-trash"></span> {{ 'Remove'|l }}</button>
        </p>
    </form>
{% endblock %}
