{% if element %}
    {% if base is not defined %}
        {% include 'Folder/breadcrumb-parent.html.twig' with {element: element.getParent() } %}
    {% elseif element.getParent() and element.getParent().id != base %}
        {% include 'Folder/breadcrumb-parent.html.twig' with {element: element.getParent(), base: base } %}
    {% endif %}
    <li>
        <span class="{{ element.getIconClass() }}"></span>
        <a href="#" data-folder-id="{{ element.id }}" class="folder-link">{{ element.name }}</a>
    </li>
{% endif %}