<form class="modal-dialog" method="post" data-key-id="{{ folder.id }}" action="{{ folder.id ? route('folderEdit', { id: folder.id }) : route('folderAdd', { id: folder.getParent().id }) }}">
    <div class="modal-content">
        <div class="modal-header">
            <ul class="breadcrumb">
                {% filter cleanLinks %}
                {% include 'Folder/breadcrumb-parent.html.twig' with {element: folder.getParent() } %}
                {% endfilter %}
                <li class="bold"><span class="{{ folder.getIconClass() }}"></span> {{ folder.name }}</li>
            </ul>
        </div>
        <div class="modal-body">
            <p>{{ form|ll }}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-remove"></span> Close</button>
            <button type="submit" class="btn btn-primary"><span class="fa fa-save"></span> Save changes</button>
        </div>
    </div>
</form>
