<div class="folder-options pull-right">
    <button class="btn btn-success btn-xs key-add" data-folder-id=""><span class="fa fa-plus"></span> New key</button>
</div>
<ul class="breadcrumb">
    {% include 'Folder/breadcrumb-parent.html.twig' with {element: root } %}
    <li class="bold"><img src="{{ app.user.getAvatar(16) }}" alt="Avatar"/> {{ app.user.username }}</li>
</ul>
{% include 'Key/list.html.twig' with {keys: keys, base: root.id, isroot: false} %}