<div class="folder-options pull-right">
    {% if app.user.isAdmin() %}
        <button class="btn btn-default btn-xs folder-add" data-folder-id="{{ folder.id }}"><span class="fa fa-folder"></span> Create subfolder</button>
        <button class="btn btn-default btn-xs folder-edit" data-folder-id="{{ folder.id }}"><span class="fa fa-pencil"></span> Edit folder</button>
        {% if folder.getParent() is not null %}
            <button class="btn btn-default btn-xs folder-remove" data-folder-id="{{ folder.id }}"><span class="fa fa-trash"></span> Delete folder</button>
        {% endif %}
    {% endif %}
    {% if folder.canUserWrite(app.user) %}
        <button class="btn btn-success btn-xs key-add" data-folder-id="{{ folder.id }}"><span class="fa fa-plus"></span> New key</button>
    {% endif %}
</div>
<ul class="breadcrumb">
    {% include 'Folder/breadcrumb-parent.html.twig' with {element: folder.getParent() } %}
    <li class="bold"><span class="{{ folder.getIconClass() }}"></span> {{ folder.name }}</li>
</ul>
{% include 'Key/list.html.twig' with {keys: folder.getKeys(app.user)|merge(personalkeys), base: folder.id, isroot: folder.getParent() is null } %}