<li data-jstree='{"type":"{{ folder.icon }}"{{ root ? ',"opened":true,"selected":true' : '' }}}' id="{{ folder.id }}">{{ folder.name }}
    {% set children = folder.getChildren(app.user) %}
    <ul>
        {% for child in children %}
            {% include 'Folder/tree.html.twig' with {folder: child, root: false} %}
        {% endfor %}
        {% if root %}
            <li data-jstree='{"icon":"{{ app.user.getAvatar(16) }}"}' id="personal">{{ app.user.username }}</li>
        {% endif %}
    </ul>
</li>