=vertical-align
  position: relative
  top: 50%
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)

=transition($time, $transition)
  -webkit-transition: $time $transition
  -moz-transition: $time $transition
  -o-transition: $time $transition
  transition: $time $transition

=translate($x, $y)
  -webkit-transform: translate($x, $y)
  -moz-transform: translate($x, $y)
  -o-transform: translate($x, $y)
  -ms-transform: translate($x, $y)
  transform: translate($x, $y)

.bold
  font-weight: bold
.just
  text-align: justify
.wide
  width: 100%