.bold {
  font-weight: bold; }

.just {
  text-align: justify; }

.wide {
  width: 100%; }

body {
  margin-bottom: 48px; }

.container {
  margin-top: 64px;
  width: 100%; }

.disabled > a, input[disabled] {
  cursor: default !important; }

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 10px;
  margin-bottom: 30px; }

.nav-container {
  padding-right: 16px; }

li.dropdown.avatar > a {
  padding: 0; }

ul.form-errors {
  clear: both;
  margin-top: 10px;
  color: #b94a48;
  padding-left: 8px;
  list-style-type: none;
  font-weight: bold; }

.form-general-errors:not(.has-error) {
  margin-bottom: 0; }

.form-inline label, .form-inline .form-group {
  margin-right: 10px; }

.input-large {
  width: 300px !important; }

.form-group.required > .row > label:after {
  content: "*";
  margin-left: 6px;
  opacity: 0.5; }

.bold {
  font-weight: bold !important; }

th.breadcrumb, td.breadcrumb {
  background-color: #f5f5f5; }
  th.breadcrumb ul.breadcrumb, td.breadcrumb ul.breadcrumb {
    margin: 0;
    padding: 0; }
  th.breadcrumb.user-folders ul.breadcrumb, td.breadcrumb.user-folders ul.breadcrumb {
    margin-bottom: 8px; }

.modal-header .breadcrumb {
  margin-bottom: 0;
  cursor: default;
  user-select: none; }

.preloader {
  font-size: 6em;
  text-align: center;
  width: 100%;
  height: 300px; }
  .preloader span {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.main-preloader {
  position: fixed;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.05);
  top: 0; }

table a:not(.button) {
  text-decoration: none !important; }
  table a:not(.button):hover {
    text-decoration: underline !important; }

.input-group-addon.active {
  background-color: #cccccc !important; }

.generator-option {
  width: 16.6%;
  float: left;
  text-align: center; }

.change-label {
  width: 80px;
  display: inline-block; }

.btn-default {
  color: #000;
  background-color: #e6e6e6;
  border-color: #e6e6e6; }
  .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
    color: #000;
    background-color: #cccccc;
    border-color: #cccccc; }

#attachment input[disabled] {
  cursor: default !important;
  background-color: #fff; }

.folder-options {
  position: relative;
  top: 6px;
  right: 6px; }

.select2-container {
  width: 100% !important; }

.account-avatar {
  float: left;
  margin-right: 16px; }

.permission-dynamic {
  padding-top: 3px; }

.fa-fww {
  width: 2em;
  text-align: left; }

.keyrow {
  margin-bottom: 1em; }

/*# sourceMappingURL=main.css.map */
